a {
  text-decoration: none;
  color: $white-cl;
}

button {
  background-color: $butt;
  width: 120px;
  height: 40px;
  color: white;
  font-family: $pop;
  font-size: 16px;
  border: none;
  &:hover {
    background-color: $hover;
    transition: 0.4s;
  }
  &:focus {
    outline: none;
  }
  &:active {
    background-color: $butt;
    transition: 0.1s;
  }
  cursor: pointer;
}

/* HEADINGS - TEXTS */
h2 {
  color: $white-cl;
  font-family: $pop;
  font-size: $fz-h2;
  font-weight: bold;
}

h3 {
  @extend h2;
  font-size: $fz-h3;
}
p {
  @extend h2;
  font-size: $fz-text;
  font-weight: normal;
}
