body {
  background-color: black;
}

.banner {
  height: 728px;
  margin-top: 80px;
  @include midflex;
  flex-direction: column;
  background-image: url(/img/images/landing-page.jpg);
  background-color: $main; /* Used if the image is unavailable */
  background-position: center;
  background-size: cover; /* Resize the background image to cover the entire container */
  .banner-cover {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 728px;
  }
  .container-fluid {
    z-index: 1;
    .banner__content {
      @include midflex;
      flex-direction: column;
      h2 {
        margin-bottom: 40px;
      }
      p {
        @include midflex;
        flex-direction: column;
        span {
          margin-bottom: 20px;
        }
      }
      button {
        margin-top: 20px;
      }
    }
  }
}

.pr {
  @extend .banner;
  margin-top: 0;
  background-image: linear-gradient(grey, white);
  z-index: 1;

  // ======== IMAGES COMBINATION FOR BACKGROUND ===========
  .pr-cloud {
    position: absolute;
    background-image: url(/img/images/cloud.png);
    width: 100%;
    height: 728px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .pr-city {
    position: absolute;
    background-image: url(/img/images/new-york-page.png);
    width: 100%;
    height: 728px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 2;
  }
  .pr-cloud-up {
    @extend .pr-cloud;
    z-index: 4;
    background-position: 700px 0px;
  }
  // ======================
  .container-fluid {
    // background: chartreuse;
    z-index: 5;
    .pr__content {
      padding: 0 60px 0 60px;
      h2 {
        color: $black-cl;
        text-decoration: underline;
        margin-bottom: 40px;
      }
      p {
        color: $black-cl;
        font-size: $fz-h4;
      }
    }
  }
}

.service {
  .container-fluid {
    padding: 0;
    .service-title {
      width: 100vw;
      @include midflex;
      flex-direction: column;
      background-color: $main;
      padding-bottom: 20px;
      h2 {
        margin: 30px 0 20px 0;
      }
      p {
        @include midflex;
        flex-direction: column;
        span {
          margin-bottom: 15px;
        }
      }
    }
    /* ============= CARDS ============*/
    .service-cards {
      @include betweenflex;
      padding: 80px 80px 80px 80px;
      background-color: $white-cl;
      .card__travel {
        background-color: $white-cl;
        width: 300px;
        height: 250px;
        box-shadow: 8px 8px 5px lightgray;
        .card__travel--icon {
          background-color: $hover;
          height: 50%;
          @include midflex;
          margin-bottom: 5px;
          img {
            width: 40px;
            height: 40px;
          }
        }
        .card__travel--content {
          @include midflex;
          flex-direction: column;
          .colorBlack,
          p {
            color: $black-cl;
            text-align: center;
            margin: 10px 0 10px 0;
          }
        }
      }

      .card__hotel {
        @extend .card__travel;
        .card__hotel--icon {
          @extend .card__travel--icon;
        }
        .card__hotel--content {
          @extend .card__travel--content;
        }
      }

      .card__flight {
        @extend .card__travel;
        .card__flight--icon {
          @extend .card__travel--icon;
        }
        .card__flight--content {
          @extend .card__travel--content;
        }
      }
    }
  }
}
